img {
    width: 300px;
}
body{
    text-align:center;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 20pt;
    background-image: url("https://i.imgur.com/RdAl0wC.gif");
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
    animation-delay: 10s;
    
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

#pic{
    float: right;
}
#rick{
    float:left;
}
#static{
    padding:10px;
    float:right;
    border:100px solid;
    border-image:url("https://media.giphy.com/media/sIIhZliB2McAo/giphy.gif") 100 round;
}
#annoy{
    display:inline-block;
}
@keyframes example {
    0% {background-color: purple;}
    25% {background-color: green;}
    50% {background-color: black;}
    75% {background-color: pink;}
    100% {background-color: cyan;}
}
@keyframes example2 {
    0% {background-color: purple;}
    25% {background-color: green;}
    50% {background-color: black;}
    75% {background-color: pink;}
    100% {background-color: cyan;}
}
p{
    background-color:purple;
    animation-name: example;
    animation-duration: 0.2s;
    animation-iteration-count: infinite;
    animation-direction:alternate;
    color:yellow;
}
h1{
    color:orange;
    background-color:cyan;
    animation-name: example;
    animation-duration: 0.2s;
    animation-iteration-count: infinite;
    animation-direction:alternate;
}



#hackerGif{
    height:800px;
    float:left;
    vertical-align:top;
    border-radius: 10%;
}